version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./logs:/var/www/logs
    networks:
      - al-ameen-network

networks:
  al-ameen-network:
    driver: bridge